@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap')
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  overflow-x: hidden;
  width: 100%;
}

@layer components {
    /* Landing  */
    .main-content-landing { @apply flex justify-center items-center relative xs:hidden s:hidden h-1/4 md:overflow-hidden sm:overflow-hidden}
    .img-landing { @apply lg:h-1/4 xs:hidden s:hidden}
    .h2-landing { @apply text-white text-right font-title tracking-wide font-light absolute bottom-0 lg:right-10 lg:left-52 md:right-16 md:text-4xl sm:right-16 sm:text-3xl sm:mb-16 lg:mb-36 md:mb-16 lg:text-4xl}
    .img-banner-landing { @apply lg:hidden md:hidden sm:hidden flex justify-center items-center relative h-1/4 overflow-hidden}
    .sub-div-banner { @apply bg-darkBlue flex flex-col lg:px-40  md:py-32 s:px-6 s:py-20 xs:px-6 xs:py-16}
    .p-land { @apply lg:mx-8 lg:px-10 text-center tracking-wider font-light lg:leading-loose s:leading-loose md:leading-relaxed whitespace-pre-line text-base md:text-2xl sm:text-xl sm:leading-10 sm:p-20 lg:p-16 s:text-lg xs:text-lg xs:leading-8 xs:p-8 s:p-10}
    .span-land { @apply font-semibold text-base text-xl md:text-2xl sm:text-2xl}

    /* Formulario */
    .main-container-form {@apply flex flex-col justify-center items-center bg-base lg:pt-20 lg:pb-32 s:pb-20 xs:pb-20 lg:w-[100vw]}
    .h1-form {@apply font-title text-darkBlue font-semibold lg:text-5xl flex justify-center mt-16 s:text-center xs:mt-8 s:mt-11 md:text-5xl s:text-5xl xs:text-[41px] xs:text-center sm:text-5xl sm:text-center sm:pb-[45px] }
    .form-main-container {@apply flex flex-col lg:justify-center lg:items-center px-4 lg:p-0 lg:w-[88vw] max-w-screen-xl w-[75vw]}
    .btn-form { @apply cursor-pointer font-title lg:text-2xl bg-darkBlue text-white rounded-md lg:w-64 w-40 xs:w-32 lg:py-2 lg:px-5 lg:h-[48px] h-[38px] mb-4 py-2 px-4 md:text-2xl md:h-[50px] s:text-2xl s:h-[52px] xs:text-xl xs:h-[52px] sm:text-xl sm:h-[50px]}
    .btn-sec {@apply flex lg:justify-center justify-center lg:w-2/3 lg:mt-10 mt-5}
    .p-section-btn {@apply  leading-5 font-title text-darkBlue text-end}
    .input-field1 {@apply font-title lg:w-2/3 lg:h-[50px] h-[30px] lg:my-2 my-0 lg:ml-0 rounded-md border-hidden bg-gray-100 shadow-xl}
    .input-field2 {@apply font-title lg:w-2/3 lg:h-[50px] h-[30px] lg:my-2 my-0 mt-2 lg:mt-0 lg:ml-0 rounded-md bg-gray-100 border-hidden shadow-xl}
    .input-field3 {@apply font-title lg:w-2/3 lg:h-[50px] h-[30px] lg:my-2 my-0 mt-2 lg:mt-0 lg:ml-0 rounded-md bg-gray-100 border-hidden shadow-xl}
    .textarea-form {@apply font-title lg:w-2/3 lg:h-[90px] h-[50px] shadow-xl lg:my-2 my-0 mt-2 lg:mt-0 lg:ml-0 rounded-md bg-gray-100 border-hidden md:h-[96px] s:h-[94px] xs:h-[94px]}
}